.statistics {
    width: max-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
    padding: 10px;
}

.title {
    text-align: center;
}

.statList {
    display: flex;
    padding: 0;
}

.item {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 70px;;
    padding: 10px;
}



.label {
    padding-bottom: 5px;
}
