.transactionHistory {
  background: #ffdddd; /* цвет фона */
  border: 1px #ff0000 solid; /* стиль рамки */
  border-collapse: collapse; /* убирание задвоенности рамки */
}

td {
  border: 1px #00ff00 solid; /* стиль рамки ячеек */
  padding: 0.3em;
  width: 200px;
  text-align: center;
}
th {
  background: #ffaaaa;
  border: 1px #0000ff solid; /* стиль рамки заголовков */
  padding: 0.3em;
}
